body {
	font-family: "Microsoft JhengHei";
}

.centered-top .Header h1 {
	font-family: "Microsoft JhengHei";
}
.centered-top .Header p {
	font-family: "Microsoft JhengHei";
}

.top-nav {
	margin-bottom: 20px;
}

.top-nav .PageList ul li {
	font-family: "Microsoft JhengHei";
    font-size: 16px;
}
.top-nav .PageList ul li a {
	background-color: rgba(244,255,129,0.1);
	margin-right: 5px;
}
.top-nav .PageList ul li a.active {
	background-color: #263238;
}
.top-nav .PageList h3 {
	display:none;
}

.post-filter-message {
	display:none;
}

.post-title, .post-title a {
	font-family: "Microsoft JhengHei";
}

.sidebar-container .widget {
	padding: 15px;
}