body {
	font-family: "Microsoft JhengHei";
}

.centered-top .Header h1 {
	font-family: "Microsoft JhengHei";
}
.centered-top .Header p {
	font-family: "Microsoft JhengHei";
}
.top-nav .PageList ul li {
	font-family: "Microsoft JhengHei";
}
.top-nav .PageList h3 {
	display:none;
}

.post-title, .post-title a {
	font-family: "Microsoft JhengHei";
}