body {
	font-family: "Microsoft JhengHei";
}
h5 {
	font-size: 18px;
}

.centered-top .Header h1 {
	font-family: "Microsoft JhengHei";
}
.centered-top .Header p {
	font-family: "Microsoft JhengHei";
	font-style: normal;
	font-size: 24px;
	margin-bottom: 0;
	margin-left: 10px;
}

.top-nav {
	margin-bottom: 20px;
}

.top-nav .PageList ul li {
	font-family: "Microsoft JhengHei";
    font-size: 16px;
}
.top-nav .PageList ul li a {
	background-color: rgba(244,255,129,0.1);
	margin-right: 10px;
}
.top-nav .PageList ul li a.active {
	background-color: #263238;
}
.top-nav .PageList h3 {
	display:none;
}

.post-filter-message {
	display:none;
}

.item-view .post-title {
	font-family: "Microsoft JhengHei";
}

.post-title, .post-title a {
	font-family: "Microsoft JhengHei";
}

.post-body {
	font-family: "Microsoft JhengHei";
}

.sidebar-container .widget {
	padding: 15px;
}